In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 2, np.nan])

In [3]:
s

0    1.0
1    2.0
2    NaN
dtype: float64

In [4]:
s[0]

1.0

In [5]:
s.sum()

3.0

In [8]:
df=pd.DataFrame({'A': [1, 2], 'B': [3,4]})
df

   A  B
0  1  3
1  2  4

In [9]:
df.dtypes

A    int64
B    int64
dtype: object

In [13]:
df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20170101', periods=6))
df

                   0         1         2         3
2017-01-01  0.374536  1.166730 -0.513445 -1.066786
2017-01-02  0.501921  0.690753  1.488039 -0.722410
2017-01-03 -0.210604 -1.012970 -0.218369 -0.556142
2017-01-04 -1.021215 -0.369899 -0.175600 -1.509360
2017-01-05  2.631093 -1.236384  2.073186 -0.057762
2017-01-06  0.353157 -0.302847  0.827584 -2.012077

In [16]:
df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20170101', periods=6), columns=['A', 'B','C','D'])
df

                   A         B         C         D
2017-01-01 -0.626742 -0.704366 -1.792908  1.079430
2017-01-02 -1.033208 -1.578276  0.047517 -1.281967
2017-01-03 -1.167600  0.689303 -1.056422 -0.453533
2017-01-04 -0.092938 -0.361594  3.081318  0.677764
2017-01-05 -0.488360 -0.042867 -1.019788 -1.533802
2017-01-06  0.369284  0.048004 -0.176040 -0.224536

In [17]:
df.T
df

                   A         B         C         D
2017-01-01 -0.626742 -0.704366 -1.792908  1.079430
2017-01-02 -1.033208 -1.578276  0.047517 -1.281967
2017-01-03 -1.167600  0.689303 -1.056422 -0.453533
2017-01-04 -0.092938 -0.361594  3.081318  0.677764
2017-01-05 -0.488360 -0.042867 -1.019788 -1.533802
2017-01-06  0.369284  0.048004 -0.176040 -0.224536

In [18]:
df.T

   2017-01-01  2017-01-02  2017-01-03  2017-01-04  2017-01-05  2017-01-06
A   -0.626742   -1.033208   -1.167600   -0.092938   -0.488360    0.369284
B   -0.704366   -1.578276    0.689303   -0.361594   -0.042867    0.048004
C   -1.792908    0.047517   -1.056422    3.081318   -1.019788   -0.176040
D    1.079430   -1.281967   -0.453533    0.677764   -1.533802   -0.224536

In [19]:
import pandas_datareader

/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [22]:
df = pandas_datareader.data.DataReader('AAPL', 'yahoo', '2012-01-01')

In [23]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-01-03,58.928570,58.428570,58.485714,58.747143,75555200.0,50.857235
2012-01-04,59.240002,58.468571,58.571430,59.062859,65005500.0,51.130558
2012-01-05,59.792858,58.952858,59.278572,59.718571,67817400.0,51.698215
2012-01-06,60.392857,59.888573,59.967144,60.342857,79573200.0,52.238651
2012-01-09,61.107143,60.192856,60.785713,60.247143,98506100.0,52.155792
...,...,...,...,...,...,...
2020-06-29,362.170013,351.279999,353.250000,361.779999,32661500.0,361.779999
2020-06-30,365.980011,360.000000,360.079987,364.799988,35055800.0,364.799988
2020-07-01,367.359985,363.910004,365.119995,364.109985,27684300.0,364.109985
2020-07-02,370.470001,363.640015,367.850006,364.109985,28510400.0,364.109985
2020-07-06,375.769989,369.869995,370.000000,373.850006,28157503.0,373.850006